div {
    /* opacity: 0.95; */
    height: 930px;
    /* background-image: url("/assets/images/1.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: 0px;
    background: rgba(0, 0, 0, 0.6);
}

div:hover {
    opacity: 1;
}

h1 {
    font-family: "Indie Flower";
    margin: 0px;
    text-align: center;
    padding-top: 160px;
    font-size: 100px;
}

p {
    margin: 0px;
    padding: 150px;
    padding-top: 10px;
    font-family: Raleway;
    font-size: 20px;
    text-align: center;
}
