<div class="flex-container" id="navbar">
        <mat-toolbar fxLayout="row" fxGap="0px" fxLayoutAign="center center">
                <div class="container">
                        <span fxFlex>Antaragini'20</span>
                        <span fxFlex>About</span>
                        <span fxFlex>Schedule</span>
                        <span fxFlex>Register</span>
                        <span fxFlex>Gallery</span>
                        <span fxFlex>Sponsors</span>
                </div>
        </mat-toolbar>
</div>