<h1> Gallery </h1>
<div class="flex-container container">
        <div fxLayout="row" fxLayout.sm="column" fxLayout.sm="column" fxLayoutAlign="space-around start" fxLayoutGap="26px">
            <mat-card fxFlex *ngFor="let image of images">
                <div class="imgContainer">
                    <img  src="/assets/images/{{image.name}}">
                    <!-- <span class="textOverlay">View image</span> -->
                    <mat-card-title> {{image.title | uppercase}} </mat-card-title>
                </div>    
            </mat-card>
        </div>
</div>

