#heading {
    margin: auto;
    margin-top: 20px;
    margin-left: 500px;
    text-align: center;
    font-family: "Indie Flower";
    border: 1.5px solid white;
    padding: 20px;
    color: white;
    font-size: 45px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
}

.container {
    margin: auto;
    margin-top: 40px;
    color: white;
    /* height: 200px; */
    width: 70%;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.sponsor {
    background-color: rgba(0, 0, 0, 0.8);
    width: 300px;
    max-width: 50%;
}

img {
    margin: auto;
    object-fit: contain;
    height: 100%;
    width: 100%;
}