<div class="flex-container container" fxLayout="row" fxGap="0px">
    <div fxFlex class="divisions">
        <h1>Guidlines</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolorum adipisci recusandae ex laborum odit magnam, sit placeat, incidunt blanditiis quasi quaerat ipsam assumenda dolores commodi ipsum doloribus sapiente libero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolorum adipisci recusandae ex laborum odit magnam, sit placeat, incidunt blanditiis quasi quaerat ipsam assumenda dolores commodi ipsum doloribus sapiente libero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolorum adipisci recusandae ex laborum odit magnam, sit placeat, incidunt blanditiis quasi quaerat ipsam assumenda dolores commodi ipsum doloribus sapiente libero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolorum adipisci recusandae ex laborum odit magnam, sit placeat, incidunt blanditiis quasi quaerat ipsam assumenda dolores commodi ipsum doloribus sapiente libero.</p>
    </div>
    <div fxFlex class="divisions">
        <h1>Register</h1>
        <!-- <mat-form-field>
            <input matInput type="text" placeholder="Name" name="name">
        </mat-form-field>
        <label>
            <input type="text" name="name" placeholder="Name">
        </label> -->
    </div>
</div> 