<div class="flex-container container" fxLayout="row" fxGap="0px">
    <div fxFlex class="divisions">
        <h1>Guidlines</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolorum adipisci recusandae ex laborum odit magnam, sit placeat, incidunt blanditiis quasi quaerat ipsam assumenda dolores commodi ipsum doloribus sapiente libero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolorum adipisci recusandae ex laborum odit magnam, sit placeat, incidunt blanditiis quasi quaerat ipsam assumenda dolores commodi ipsum doloribus sapiente libero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolorum adipisci recusandae ex laborum odit magnam, sit placeat, incidunt blanditiis quasi quaerat ipsam assumenda dolores commodi ipsum doloribus sapiente libero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolorum adipisci recusandae ex laborum odit magnam, sit placeat, incidunt blanditiis quasi quaerat ipsam assumenda dolores commodi ipsum doloribus sapiente libero.</p>
    </div>
    <div fxFlex class="divisions">
        <h1>Register</h1>
        <mat-form-field>
            <input matInput name="name" placeholder="name">
            <mat-select placeholder = "Select">
                <mat-option value = "A">A</mat-option>
                <mat-option value = "B">B</mat-option>
                <mat-option value = "C">C</mat-option>      
             </mat-select>
        </mat-form-field>
    </div>
</div> 